* {
  margin: 0;
  padding: 0;
}
body {
  /*background: linear-gradient(#ee7724, #d8363a);*/
  background-image: url(../img/fondo.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover; /*para que no se repita la img de fondo*/
}
header img {
  margin: 10px;
  width: 100px;
  height: auto;
}
.container1 {
  display: flex;
  margin: 20px;
  padding: 20px; /*distancia header y contenedor*/
}
.cards {
  display: grid;

  width: 60%;
  /*grid-template-columns: repeat(4, 1fr); columnas predeterminado*/
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px; /*espacio entre columnas*/
}
.cards img {
  width: 78%;
  height: auto;
  cursor: pointer; /*cambiar el cursor flecha a una mano*/
}

.table {
  background-color: #eee;
  border-radius: 1ch;
  width: 40%;
  flex: 1; /* Ocupa todo el espacio que queda disponible */
  /* Separa la tabla y el formulario de las cartas */
  margin: 10px;
  padding: 10px;
}
.table thead th {
  text-align: center;
  background-color: rgb(230, 104, 104);
}
.table tbody tr td,
.table tbody tr th {
  background-color: rgba(235, 215, 215, 0.721); /* Fondo blanco */
  color: rgb(3, 3, 3); /* Texto negro para mejor contraste */
  text-align: center;
}

/* Estilos generales del formulario */
.form-container {
  background-color: #d6c6c6a8;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto; /* Centra el formulario horizontalmente */
}

/* Estilo para los labels */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
h1 {
  text-align: center;
  color: rgb(3, 3, 3);
  font-family: "Fascinate Inline", system-ui;
}

@media only screen and (max-width: 600px) {
  .container1 {
    width: 100%;
    display: block;
  }
  .cards {
    width: 100%;
  }
  .table {
    width: 100%;
  }
}
